@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
    cursor: url("../Icons/cursor32.png") 7 7, auto;
}

body{
    background-color: #191D21;
    color: #A3F7BF;
    font-family: 'Abel', sans-serif;
}