body {
    background-color: #191D21;
    color: #A3F7BF;
    padding: 0% 25% 0% 25%;
}

#shopping-cart-title {
    font-size: 1.5em;
}

.shopping-cart-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1% 5%;
}

.shopping-cart-item img {
    width: 12%;
}

.shopping-cart-item-info {
    width: 55%;
    font-size: 1.5em;
}

.shopping-cart-item-info p:nth-child(1) {
    margin-top: 0%;
}

.shopping-cart-item-quantity {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 15%;
}

.shopping-cart-item-quantity button {
    background: none;
    border: none;
    color: inherit;
    font-size: 1.5em;
}

.shopping-cart-item-quantity button:nth-child(1) {
    font-size: 2em;
}

.shopping-cart-item-quantity p {
    background: none;
    border: 2px solid #A3F7BF;
    border-radius: 0.6em;
    padding: 5% 12%;
    color: inherit;
    font-size: 2em;
}

.shopping-cart-delete-button {
    align-self: flex-start;
    background: none;
    border: none;
    color: inherit;
    padding-left: 5%;
    font-size: 1.5em;
}

hr {
    border-color: #A3F7BF;
}

#shopping-cart-total {
    float: right;
}

#shopping-cart-total p:nth-child(1) {
    font-size: 0.75em;
    margin-bottom: 0%;
}

#shopping-cart-total p:nth-child(2) {
    font-size: 1.5em;
    margin-top: 0%;
}