@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/*
*{
    cursor: url("../Icons/circular_cursor_1.svg"), auto;
}*/


body {
    background-color: #191D21;
    color: #A3F7BF;
}

#form_box {
    width: 450px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Abel', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 40px;
}

.input_field {
    border: none;
    margin-top: 10px;
    font-size: 25px;
    min-height: 52px;
    background: #A3F7BF;
    box-shadow: 0px 0px 25px #29A19C;
    border-radius: 223px;
    outline: none;
    padding-left: 15px;
}

#RegisterBacon {
    text-align: center;
    cursor: pointer;
    border: 0;
    background: transparent;
}

#emailValidation, #passwordValidation {
    display: none;
    margin-bottom: -60px;
    color: #FF5555;
    text-shadow: 0px 0px 10px #ff3d51;
}